ASAAS_API_KEY=seu_token_asaas
ASAAS_WEBHOOK_TOKEN=seu_token_webhook
POCKETBASE_URL=https://pocketbase-production-d5ae.up.railway.app
POCKETBASE_ADMIN_EMAIL=admin@bubuya.com
POCKETBASE_ADMIN_PASSWORD=sua_senha_admin
APP_URL=https://bubuya.com.br
PORT=3000
